/* .jumbotron{
    position: relative;
    padding:0rem,0rem !important;
    margin-top:20px !important;
    background: #533b3b;
    margin-top: 23px;
    text-align:center;
    margin-bottom: 0 !important;
}
.container-fluid{
    padding:0 !important;
}
.col-xs-4{
    background:rgba(157,52,99,0.7);    
} */